/* @group Imports */

@import url("superfish.css");

@import url("wufoo.css");

@import url("pnotify.css");

/* @end */

/* @group Structure Overrides */

.pkp_structure_page_bodyElement {
	font-family: Helvetica, Arial, sans-serif;
}

.pkp_structure_header_head {
	background-color: #efefef;
}

.pkp_structure_header_siteNav {
	background-color: #666;
}

.pkp_structure_header_masthead {
	background-color: #ccc;
}

.pkp_structure_header_localNav {
	background-color: #999;
}

.pkp_structure_footer {
	background-color: #efefef;
	color: #999;
}

/* @end */

/* @group Content Overrides */

h1, .h1
{
	color: #333;
}

h2, .h2
{
	color: #666;
}

.pkp_structure_header_localNav a {
	color: #fff;
}

.pkp_structure_header_siteNav a {
	color: #fff;
}

.pkp_structure_footer .pkp_navigation a {
	color: #666;
}

/* @end */



