@props([
    'slug',
    'title' => '',
    'headingTag' => 'h3',
])

<div class="metadata-block metadata-block-id-{{ $slug }}">
    @if ($title)
        <{{ $headingTag }} class="metadata-block-title">
            {!! $title !!}
        </{{ $headingTag }}>
    @endif
    <div class="metadata-block-content">
        {!! $slot !!}
    </div>
</div>