@if (!empty($publication->getLocalizedData('keywords')))
    <x-metadata-blocks.default
        slug="keywords"
        title="{{ __('article.subject') }}"
        :$headingTag
    >
        @foreach ($publication->getLocalizedData('keywords') as $keyword)
            {{ $keyword['name'] }}@if(!$loop->last){{ __('common.commaListSeparator') }}@endif
        @endforeach
    </x-metadata-blocks.default>
@endif
