/* @group Lists */

/* numbered list */

ol.simpleList li {
	list-style-type: decimal;
	margin-left: 20px;
}

/* standard list */

ul.simpleList li {
	list-style-type: disc;
	margin-left: 20px;
}

ul.flat_list, ol.flat_list {
	padding: 0;
	margin: 0;
}

ul.flat_list li, ol.flat_list li {
	float: left;
	position: relative;
}

/* @end */

/* @group Response */

/* -- Iconography: http://www.jankoatwarpspeed.com/post/2009/09/17/sixpack-status-icons.aspx --*/

/* @end */

/* @group Form validation */
span.formError {
	color: #900;
	font-weight: bold;
	font-size: 1em;
}

.formErrorList a {
	color: #900;
}

span.formSuccess {
	color: #090;
	font-weight: bold;
	font-size: 1em;
}

ul.formErrorList {
	color: #900;
}

.installContainer {
	background-color: #EAF3F8;
	border: 1px dotted #A2C6DC;
	padding: 10px;
	margin-bottom: 10px;
}

/* @end */

/*Styles for disabled buttons*/
.ldisabled, .sdisabled {
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	/*This is for IE8 */
	filter: alpha(opacity = 30);
}

/* @end */

/* @group File upload field overrides */

.fileInputContainer {
	height: 30px;
	width: 350px;
	position:relative;
	float:left;
}

input.uploadField {
	padding: 3px;
	margin: 0;
	height: 30px;
	width: 350px;
	position: relative;
	z-index: 2;
	text-align:right;
	-moz-opacity:0;
	filter:alpha(opacity=0);
	opacity: 0;
}

.fakeFile {
	left:0;
	line-height:90%;
	margin:0;
	padding:0;
	position:absolute;
	top:0;
	width:350px;
	z-index:1;
}

input.fakeInput {
	margin-bottom:5px;
	margin-left:0;
	height:15px;
	padding-left:3px;
	padding-top:1px;
	width:241px;
}

input.fakeButton {
	line-height: 90%;
}

input.uploadFile {
	line-height: 90%;
	height: 29px;
}

/* @end */

/* @group Other Stuff */

.throbber {
	display: none;
	background: url(../templates/images/throbber.gif) no-repeat;
	width: 25px;
	height: 25px;
	margin-left: 50%;
	margin-top: 5%;
}

/* @end */

/* @group Information Center */

span.itemTitle {
	padding-left: 25px;
	background-image: url(../lib/pkp/templates/images/structure/page_white_word.png);
	background-repeat: no-repeat;
	color: #2A5685;
	font-size: 1.4em;
}

span.itemLastEvent {
	color: #888;
	font-size: 0.8em;
}

#notesList {
	max-height: 200px;
	overflow: auto;
	padding-right: 5px;
}

#informationCenterHistoryTab .heading td {
	font-weight: bold;
}

/* @end */

/* @group Tag-it */

ul.tagit {
	padding:1px 5px;
	border-style:solid;
	border-width:1px;
	border-color:#C6C6C6;
	overflow:auto !important;
	width:500px;
	background: white;
}
ul.tagit li {
	-moz-border-radius:5px 5px 5px 5px;
	display: block;
	float: left !important;
	margin:2px 5px 2px 0;
	clear: none;
}
ul.tagit li.tagit-choice {
	background-color:#DEE7F8;
	border:1px solid #CAD8F3;
	padding:2px 4px 3px;
}
ul.tagit li.tagit-choice:hover {
	background-color:#bbcef1;
	border-color:#6d95e0;
}
ul.tagit li.tagit-new {
	padding:2px 4px 3px;
	padding:2px 4px 1px;
	padding:2px 4px 1px 0;
}

ul.tagit li.tagit-choice input {
	display:block !important;
	float:left;
	margin:2px 5px 2px 0;
}
ul.tagit li.tagit-choice a.close {
	color:#777777;
	cursor:pointer;
	font-size:12px;
	font-weight:bold;
	outline:medium none;
	padding:2px 0 2px 3px;
	text-decoration:none;
}
ul.tagit input[type="text"] {
	-moz-box-sizing:border-box;
	border:none;
	margin:0;
	padding:0;
	width:inherit;
	border-color:#C6C6C6;
	background-color:#FFFFFF;
	color:#333333;
}

ul.tagit li:after, ul.tagit li div:after {
	content:" ";
	display:block;
	clear:none;
}

/* @end */

/* @group Advanced reviewer selector */

.sliderLabel {
	margin-bottom: 10px;
	font-size: .8em;
}

.sliderValue {
	border: 0pt none;
	font-weight: bold;
	width: 50px;
}

.rangeSlider {
	margin-left: 13px;
	width: 240px;
}

#addReviewer li {
	clear: none;
}

#addReviewer h3 {
	padding: 0px;
	margin: 5px;
}

/* @end */

/* @group Modal Title bar */

.modalTitleBar {
	height: 40px;
	width: 100%;
	margin-bottom: 15px;
}

.modalTitleBar .icon {
	float: left;
}

.modalTitleBar .text {
	margin-left: 15px;
	font-size: 1.4em;
	color: #20538D;
	vertical-align: middle;
	float: left;
}

.modalTitleBar .close {
	vertical-align: middle;
	float: right;
}

.modalTitleBar .informationCenter {
	background: url(../lib/pkp/templates/images/structure/grid_notes.png) no-repeat;
	width: 28px;
	height: 42px;
}

.modalTitleBar .fileManagement {
	background: url(../lib/pkp/templates/images/structure/response_warning.png) no-repeat;
	width: 32px;
	height: 32px;
}

/* @end */

/* @group File upload revision handling */

.possibleRevision {
	padding: 10px;
	margin: 10px;
	border: 2px solid black;
	background-color: #FFFFDD;
}

.possibleRevision #revisedFileId, .possibleRevision p, .possibleRevision h5 {
	margin-bottom: 10px;
}

.possibleRevision h5 {
	padding-top: 0px;
}

#revisionWarningIcon {
	height: 30px;
	width: 30px;
	float: left;
}

#revisionWarningText {
	margin-left: 35px;
}

/* @end */

/* @group Review round status indicator */

.statusContainer {
	height: 40px;
	margin: 11px;
	border: 2px solid black;
	background-color: #FFFFDD;
}

/* @end */

/* @group Review round */

.editorPersonalMessage {
	width: 96%;
	height: 200px;
	margin: 5px 0px 0px 10px;
}

.statusContainer {
	height: 40px;
	margin: 11px;
	border: 2px solid black;
	background-color: #FFFFDD;
}

/* @end */

/* @group Submission header */

.submissionHeader {
	width: 95%;
	margin: 5px 10px 15px 10px;
}

.submissionHeader .icon {
	float: left;
}

.submissionHeader .headerTop .heading {
	font-size: 1.7em;
	color: #20538D;
	vertical-align: middle;
	float: left;
}

.submissionHeader .headerTop .action{
	padding-top:  7px;
	float: right;
	margin-left: 25px;
}

.submissionHeader .headerTop .action a {
	background-repeat: no-repeat;
	padding-left: 20px;
}

.submissionHeader .headerTimeline {
	font-size: .9em;
	vertical-align: middle;
	float: left;
}

#authorTimeline {
	margin-top: 20px;
}

#timelineContainer {
	width: 90%;
	margin: 0 auto;
	clear:both;
	border: 2px solid gray;
}

#timelineFiller {
	height: 20px;
	background-color: #E0FFFF;
	width: 0px;
}

#timelineFiller.accepted {
	width: 25%;
}

#timelineFiller.reviewed {
	width: 50%;
}

#timelineFiller.copyedited {
	width: 75%;
}

#timelineFiller.published {
	width: 100%;
}

#timelineLabelContainer {
	width: 90%;
	margin: 0 auto;
}

.timelineLabel {
	font-size: .9em;
	float: left;
	width: 20%;
}

.timelineLabel.center {
	text-align: center;
}

.timelineLabel.right {
	text-align: right;
}

.pastStep {
	font-weight: bold;
}

.futureStep {
	color: #808080;
}

.authorAction {
	float: left;
	width: 28%;
	margin-left: 30px;
}

.stageContainer {
	width: 90%;
	margin: 10px auto;
}

.submissionHeader .headerBottom {
	margin-top: 10px;
}

.submissionHeader .headerBottom .userInfo {
	width: 51%;
	height: 100px;
	padding-right: 10px;
	float:left;
}

.submissionHeader .headerBottom .userInfo .statusContainer {
	margin-left: 0px;
}

.submissionHeader .headerBottom .userInfo .icon {
	background: url(../lib/pkp/templates/images/structure/response_warning.png) no-repeat;
	margin:5px;
	width: 32px;
	height: 32px;
	float:left;
}

.submissionHeader .headerBottom .userInfo .alert {
	float:left;
	font-size: 1.2em;
	color: orange;
	margin-top: 15px;
}
.submissionHeader .headerBottom .userInfo .stageMetadata {
	float:left;
}

.submissionHeader .headerBottom .stageParticipants {
	width: 45%;
	padding-left: 10px;
	float:left;
}

.submissionHeader .headerBottom .stageParticipants .wrapper {
	background-color: inherit;
	border: none;
	margin: 0px;
	padding: 0px;
}

.submissionHeader .headerBottom .stageParticipants h3 {
	font-size: 1.2em;
}

.selectHeader {
	margin-top: 10px;
}

/* @end */
