/* @group Other Stuff */

.throbber {
	display: none;
	background: url(../lib/pkp/templates/images/throbber.gif) no-repeat;
	width: 25px;
	height: 25px;
	margin-left: 50%;
	margin-top: 5%;
}

/* @end */

/* @group Modal Title bar */

.pkp_controllers_modal_titleBar .informationCenter {
	background: url(../lib/pkp/templates/images/structure/grid_notes.png) no-repeat;
	width: 28px;
	height: 42px;
}

.pkp_controllers_modal_titleBar .fileManagement {
	background: url(../lib/pkp/templates/images/structure/response_warning.png) no-repeat;
	width: 32px;
	height: 32px;
}

/* @end */

/* @group Submission header */
.stageContainer {
	width: 90%;
	margin: 10px auto;
}

.selectHeader {
	margin-top: 10px;
}

/* @end */
